/* VARIABLES */
/* skipping the non-semantic color naming here since we don't have a larger system context */
:root {
  --color-text: #000000;
  --color-bg: #ffffff;
  --color-nav-item: #929292;
  --color-nav-item-active: var(--color-text);
  --color-nav-item-hover: #416ea3;
  --color-nav-rule: #d6d6d6;
}

/* BASE TYPOGRAPHY */
body {
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, Helvetica,
    sans-serif;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/* PAGE LAYOUT */
body {
  max-width: 62rem;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 33vh;
}

/* ELEMENTS */
h1 {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}
h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}
p {
  margin-bottom: 1rem;
  max-width: 40rem;
}
ul {
  padding-left: 1rem;
  max-width: 40rem;
}
li {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
video {
  border: 1px solid black;
}

.navbar {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.nav-items {
  display: flex;
  justify-content: space-evenly;
  padding: 0 1rem;
}
.navbar a {
  color: var(--color-nav-item);
  font-size: 0.8125rem;
  padding: 0.375rem 0;
  cursor: pointer;
  position: relative;
}
.navbar a:hover {
  color: var(--color-nav-item-hover);
}
.navbar a.active {
  color: var(--color-nav-item-active);
  cursor: default;
}
.navbar a.resizing::after {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: -1px;
  background-color: var(--color-nav-item-active);
}
.nav-rule {
  height: 1px;
  width: 100%;
  background-color: var(--color-nav-rule);
}
.nav-underline {
  position: absolute;
  height: 1px;
  left: 0;
  width: 0;
  background-color: var(--color-nav-item-active);
  transition: all 0.35s ease-in-out;
  &.loading {
    display: none;
    transition: none;
  }
}

/* for this exercise, since I am showing iterative versions, I'll just add *additional* styles here for the clock version */
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.375rem 0;
  cursor: pointer;
  position: relative;
}
.navbar-with-clock a {
  padding: 0;
}
.nav-item:hover a {
  color: var(--color-nav-item-hover);
}
.nav-item.active {
  cursor: default;
}
.nav-item.active a {
  color: var(--color-nav-item-active);
}
.nav-item.resizing::after {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: -1px;
  background-color: var(--color-nav-item-active);
}
.navbar-clock {
  font-size: 0.6875rem;
  color: var(--color-nav-item);
}
